.top{
    margin-left: 50px;
    margin-right: 50px;
}
.head{
    text-align: center;
    color: rgb(65, 4, 122);
}
.head h2{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.top p{
    color: rgb(11, 11, 201);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ss {
    color: rgb(11, 11, 201);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ss h3{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.interst {
    color: rgb(11, 11, 201);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.interst h3{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.int {
    color: rgb(11, 11, 201);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.int h3{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.academic table{
    border-radius: 10px;
}
.academic th, td{
    border:1px solid #ccc;
    text-align:left;
    padding:10px;
    border-radius: 6px;
    
 }
 .academic h3{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url("imge.jpeg");
    background-position: 100%;
    background-repeat: no-repeat;
   
}